---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Kelvin Guerrero | Desarrollador Full-stack">
    <Header />

    <section class="h-screen flex flex-col justify-center">
        <div class="grid place-items-center">
            <p
                class="efectoLetra text-white uppercase min-[280px]:text-[30px] text-2xl sm:text-5xl md:text-7xl lg:text-9xl"
            >
                Kelvin Guerrero
            </p>
        </div>
        <p
            class="text-center text-white text-xs md:text-xl lg:text-2xl mt-10 max-w-[195px] md:max-w-md lg:max-w-xl mx-auto"
        >
            Creando experiencias web completas desde la interfaz hasta el núcleo
            funcional.
        </p>

        <div class="max-w-lg mx-auto grid place-items-center">
            <img
                class=""
                src="/assets/img/animoji.png"
                alt="Kelvin Guerrero Animoji"
            />
        </div>
    </section>
    <section class="h-screen">
        <div class="grid place-items-center mb-8">
            <p
                class="text-white uppercase min-[280px]:text-[30px] text-2xl sm:text-5xl md:text-7xl lg:text-9xl"
            >
                Proyectos
            </p>
        </div>
        <div class="cards max-w-lg flex flex-col items-center gap-5">
            <Card
                src="digital_dreams.png"
                title="DigitalDreams Dashboard"
                alt="Dashboard de usuarios y equipos"
                url=""
            />
            <Card
                src="nameMyPet.png"
                title="Name my pet"
                alt="App para generar nombres de perros y gatos"
                url=""
            />
            <Card
                src="gym_verse.png"
                title="TheGymVerse"
                alt="Guia de entrenamiento fisico"
                url=""
            />
        </div>
    </section>
</Layout>

<style>
    .efectoLetra {
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right: 3px solid;
        width: 15.1ch;
        animation: typing 2s steps(16), blink 0.5s infinite step-end alternate;

        overflow: hidden;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
</style>
