---
export interface props {
    src: string;
    title: string;
    alt: string;
    url: string;
}

const { src, title, alt, url } = Astro.props;
---

<div class="card w-80 bg-slate-800 p-4 rounded">
    <div class="card-img">
        <a href={url}>
            <img class="w-full aspect-[72/35]" src=`assets/img/${src}` alt={alt} />
        </a>
    </div>
    <p class="card-title text-white font-bold my-2">{title}</p>
</div>

<style>
    .card {
        box-shadow: 8px 2px 15px #292929;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card::before {
        content: "";
        position: absolute;
        height: 400px;
        width: 400px;
        background-image: conic-gradient(#dafff3 16deg, transparent 120deg);
        animation: rotar 3.5s linear infinite;
    }

    @keyframes rotar {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }

    .card::after {
        content: "";
        position: absolute;
        height: 202px;
        width: 308px;
        background-color: rgb(30 41 59);
    }

    .card-img, .card-title {
        z-index: 2;
        background-color: transparent;
    }
</style>
