<header class="lg:max-w-[70%] lg:m-auto">
    <nav
        class="flex justify-between py-10 m-auto px-10 text-lg font-medium tracking-wide md:items-center"
    >
        <span class="text-xl font-black tracking-widest">Kelvin</span>

        <div
            id="menu"
            class="bg-white dark:bg-slate-800 p-7 h-[380px] w-[200px] md:flex flex-col items-center justify-around rounded-lg text-dark dark:text-white md:flex-row md:w-full md:py-0 md:h-[50px] md:bg-inherit md:dark:bg-slate-950 hidden"
        >
            <ul
                class="flex h-5/6 flex-col justify-around md:items-center md:flex-row md:justify-center w-full"
            >
                <li class="md:px-5 hover:text-sky-600 transition-colors">
                    <a href="#heroSection">Inicio</a>
                </li>
                <li class="md:px-5 hover:text-sky-600 transition-colors">
                    <a href="#projectSection">Proyectos</a>
                </li>
                <li class="md:px-5 hover:text-sky-600 transition-colors">
                    <a href="#aboutMeSection">Sobre Mi</a>
                </li>
                <li class="md:px-5 hover:text-sky-600 transition-colors">
                    <a href="#contactSection">Contacto</a>
                </li>
            </ul>
            <!--Btn modo oscuro -->
            <button id="modoOscuro">
                <i
                    class="bi bi-moon-stars-fill text-sky-600 hover:text-sky-800 text-2xl"
                ></i>
            </button>
        </div>
        <!-- Btn menu -->
        <button id="btn-menu" class="absolute top-10 right-12 md:hidden">
            <span
                class="br-1 block bg-black dark:bg-white my-2 rounded-md h-[3px] w-[28px]"
            ></span>
            <span
                class="br-2 block bg-black dark:bg-white my-2 rounded-md h-[3px] w-[28px]"
            >
            </span>
            <span
                class="br-3 block bg-black dark:bg-white my-2 rounded-md h-[3px] w-[28px]"
            ></span>
        </button>
    </nav>
</header>

<script type="module">
    const $ = (selector) => document.querySelector(selector);
    const $$ = (selector) => document.querySelectorAll(selector);
    // Variables
    const btnMenu = $("#btn-menu");
    const menuItems = $("#menu");

    const menuBtnSpans = $$("#btn-menu span");
    const links = $$("#menu a");

    // Abrir menu
    btnMenu.addEventListener("click", () => {
        menuItems.classList.toggle("hidden");

        menuBtnSpans.forEach((span) => {
            span.style = `transition: transform 0.3s ease-in-out;`;
            span.classList.toggle("animado");
        });
    });

    links.forEach((link) => {
        link.addEventListener("click", () => {
            menuItems.classList.add("hidden");
            menuBtnSpans.forEach((span) => {
                span.classList.remove("animado");
            });
        });
    });

    // Cerrar menu on RESIZE
    window.onresize = function () {
        let w = window.outerWidth;
        if (w > 768) {
            menuItems.classList.add("hidden");
            menuBtnSpans.forEach((span) => {
                span.classList.remove("animado");
            });
        }
    };

    /** Dark Mode */
    const btnModoOscuro = $("#modoOscuro");

    btnModoOscuro.addEventListener("click", function () {
        // if set via local storage previously
        if (localStorage.getItem("color-theme")) {
            if (localStorage.getItem("color-theme") === "light") {
                document.documentElement.classList.add("dark");
                localStorage.setItem("color-theme", "dark");
            } else {
                document.documentElement.classList.remove("dark");
                localStorage.setItem("color-theme", "light");
            }

            // if NOT set via local storage previously
        } else {
            if (document.documentElement.classList.contains("dark")) {
                document.documentElement.classList.remove("dark");
                localStorage.setItem("color-theme", "light");
            } else {
                document.documentElement.classList.add("dark");
                localStorage.setItem("color-theme", "dark");
            }
        }
    });
</script>

<style>
    .br-2.animado {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .br-1.animado,
    .br-3.animado {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out; /* Agrega la propiedad transition aquí */
    }

    .br-1.animado {
        transform: rotate(45deg) translate(9px, 8px);
        transition: transform 0.3s ease-in-out;
    }
    .br-3.animado {
        transform: rotate(-45deg) translate(-6px, 8px);
    }
</style>
